DATABASE_URL="mysql://dbakademik_user:dbakademik_pass123@localhost:3306/dbakademik"

DB_HOST=localhost
DB_PORT=3306
DB_USER=dbakademik_user
DB_PASSWORD=dbakademik_pass123
DB_NAME=dbakademik

JWT_SECRET="ganti_dengan_secret_acak_yang_panjang_dan_kuat"
PORT=3000
